body {
  overflow-x: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  line-height: 1.75;
}

a {
  color: #0080FF;
}

a:hover {
  color :white;
}

b {
  color: white;
}

.text-primary {
  color: #0080FF !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-section {
  padding: 100px 0;
}

.page-section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

.page-section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 75px;
  text-transform: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

.btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #0080FF;
  border-color: #212529;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: white !important;
  border-color: #212529 !important;
  color: #0080FF;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

#mainNav {
  background-color: #4C4C4C;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  color: white;
  border: 0;
  background-color: #0080FF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mainNav .navbar-brand {
  color: #0080FF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: white;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: #0080FF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: white;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

header.masthead {
  text-align: center;
  color: white;
  background-color: #212529;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  /*font-weight: 700;*/
  line-height: 50px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 50px;
    /*font-weight: 700;*/
    line-height: 50px;
    margin-bottom:40px;
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.portfolio {
  background-color: rgb(206, 206, 206);
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
  background-color: white;
}